{% extends 'registration.html' %}
{%block title %}<title>Unpetrified | Reset Password</title>{% endblock %}

{%block form %}
    <form action="" method="post">
        <h3>Reset Password</h3>
        {% if error %}
            <div class="error">User does not exist. <a href="{% url 'login' %}">Return to login?</a></div>
        {% endif %}
        {% csrf_token %}
        <p><label>Enter your Email Address</label> <input type="email" name="email" required></p>
        <input type="submit" value="Continue " class="submit">
        <div><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Sign up</a></div>
        app password for google - tcmw eogi wtxn ohpw
    </form>
{% endblock %}