body {
    background-color: black;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .8;
    z-index: -2;
    pointer-events: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: .1em;
    width: 50em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    margin: 1em 0;
}

.error {
    text-align: left;
    color: antiquewhite;
}

.errorlist {
    display: none;
}

p {
    display: flex;
    flex-direction: column;
    width: 40em;
    margin-bottom: 1em;
}

input {
    line-height: 2;
    border: 1px solid black;
    border-radius: 2em;
    padding: .2em;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.submit {
    padding: .5em 4em;
    font-weight: 700;
    background-color: lightblue;
    border: none;
    margin-bottom: .5em;
}

div {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: rgb(127, 255, 53);
}