{% extends 'main.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/checkout.css' %}"> {% endblock %}
{% block title %} <title>Unpetrified | Checkout</title>{% endblock %}
{% block content %} 
<main>
    <section>
        <form class="section shipping-field">
            <p class="container contact">
                <input type="text" id="name" placeholder="Name">
                <input type="tel" id="number" placeholder="Phone Number">
            </p>
            <p class="span">
                Shipping Information
            </p>
            <p class="container">
                <input type="text" id="address" placeholder="Address" value="{{shippingDetails.address}}">
                <input type="text" id="city" placeholder="City" value="{{shippingDetails.city}}">
            </p>
            <p class="container">
                <input type="text" id="state" placeholder="State" value="{{shippingDetails.state}}">
                <input type="text" id="country" placeholder="Country" value="{{shippingDetails.country}}">
            </p>
            <input type="submit" value="Continue" class="span shipping-btn">
        </form>
        <form class="section payment-field">
            <p>
                <input type="button" value="Payment Options">
                <input class="span make-payment" type="button" value="Make Payment">
            </p>
        </form>
    </section>
    <section class="section">
        <p>
            <a href="{% url 'cart' %}" class="back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M447.1 256C447.1 273.7 433.7 288 416 288H109.3l105.4 105.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L109.3 224H416C433.7 224 447.1 238.3 447.1 256z"/></svg>
                Back to Cart
            </a>
        </p>
        <p class="span order">
            Order Summary
        </p>
        <section class="products">
            {% for item in cart %}
                <p class="span product">
                    <img src="{{item.product.getImageUrl}}" class="p_image">
                    <a href="{% url 'view' item.product.id %}" class="p_name">{{item.product.name}}</a>
                    <span>&#8358;{{item.product.price|floatformat:2}}</span>
                    <span>x{{item.quantity}}</span>
                </p>
            {% endfor %}
        </section>
        <p class="span items">
            Items: {{cartDetails.getItemTotal}}
        </p>
        <p class="span total">
            Total: &#8358;{{cartDetails.getCartTotal}}
        </p>
    </section>
</main>
{% endblock %}
{% block script %} 
    <script>
        var total = '{{cartDetails.getCartTotal}}',
            url = "{% url 'checkout' %}";
    </script>
    <script src="{% static 'js/checkout.js' %}"></script> 
{% endblock %}