.back {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid;
    border-radius: .2em;
    padding: .2em 1em;
}

.back svg {
    width: .5em;
    fill: rgba(0, 0, 0, 0.7);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 97%;
    margin: 1em auto;
    gap: 1em;
}

.section {
    padding: .65em .75em;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: .5em;
}

.shipping-field {
    margin-bottom: 2em;
}

.payment-field {
    display: none;
}

.container {
    margin-bottom: .5em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.span {
    margin: 1em 0;
    width: 100%;
    font-weight: 600;
}

.span:last-of-type {
    margin-bottom: 0;
}

input {
    line-height: 1.1em;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: .5em;
    width: 46%;
}

form .span:last-of-type {
    background-color: green;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.order {
    font-size: 1.2em;
}

.product {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: baseline;
}

.p_image, .p_name {
    text-align: left;
}

.product span {
    text-align: right;
}

.p_image {
    width: 5em;
}

.p_name {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 1em;
        gap: 0em;
    }

    .shipping-field, .payment-field {
        margin-bottom: 1em;
    }
}