* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header a {
    text-decoration: none;
}

.logo {
    width: 25%;
    aspect-ratio: 5/1;
}

nav {
    display: flex;
    position: absolute;
    top: 50%;
    right: -.5em;
    transform: translateY(-50%);
    padding: 1em;
}

.toggle {
    display: none;    
}

ul {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
}

.login {
    border: 1px solid;
    display: flex;
    justify-content: center;
    width: max-content;
    gap: .5em;
    padding: .25em .5em;
    border-radius: 1em;
}

.categories {
    position: relative;
    cursor: pointer;
}

.categories::after {
    content: "\25BC";
}

.categories ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: white;
    padding: 1em;
    display: none;
}

.cart-btn {
    font-weight: 800;
    position: relative;
    margin-left: 1em;
}

.cart-btn svg, .user, .toggle {
    width: 1.35em;
}

.cart-btn svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cart-quantity {
    content: "30";
    font-size: .80rem;
    color: rgba(255, 255, 255, 0.685);
    background-color: rgba(0, 88, 0, 0.8);
    padding: .1em .25em;
    border-radius: 2em;
    position: absolute;
    top: -4px;
    right: -5px;
}

@media screen and (max-width: 500px) {
    .logo {
        width: 40%;
    }

    .cart-btn {
        position: relative;
        right: 0;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3em;
        right: 1em;
        backdrop-filter: blur(8px);
        padding: 1em;
    }

    .toggle {
        display: block; 
        cursor: pointer; 
    }

}